{% extends "musify/base.html" %} 
{% load static %}
{% block content %} 
<!-- Displaying the tabs -->
<center>
  <div class="row">
    <div class="" style="width: 12.5%;">
      <a href="{% url 'home' %}"><img src="{% static 'musify/newrelease.jpg' %}" style="border: 1.5px solid #fffdd0;" height="125px" width="125px" class="image" alt="Album Cover Art"></a>
    </div>
    <div class="" style="width: 12.5%;">
      <a href="{% url 'home-search-artist' %}"><img src="{% static 'musify/artists.jpg' %}" style="border: 1.5px solid #fffdd0;" height="125px" width="125px" class="image" alt="Album Cover Art"></a>
    </div>
    <div class="" style="width: 12.5%;">
      <a href="{% url 'home-search-playlist' %}"><img src="{% static 'musify/playlists.jpg' %}" style="border: 1.5px solid #fffdd0;" height="125px" width="125px" class="image" alt="Album Cover Art"></a>
    </div>
    <div class="" style="width: 12.5%;">
      <a href="{% url 'home-search-album' %}"><img src="{% static 'musify/albums.jpg' %}" style="border: 1.5px solid #fffdd0;" height="125px" width="125px" class="image" alt="Album Cover Art"></a>
    </div>
    <div class="" style="width: 12.5%;">
      <a href="{% url 'home-pop' %}"><img src="{% static 'musify/pop.jpg' %}" style="border: 1.5px solid #fffdd0;" height="125px" width="125px" class="image" alt="Album Cover Art"></a>
    </div>
    <div class="" style="width: 12.5%;">
      <a href="{% url 'home-party' %}"><img src="{% static 'musify/party.jpg' %}" style="border: 1.5px solid #fffdd0;" height="125px" width="125px" class="image" alt="Album Cover Art"></a>
    </div>
    <div class="" style="width: 12.5%;">
      <a href="{% url 'home-hiphop' %}"><img src="{% static 'musify/hiphop.jpg' %}" style="border: 1.5px solid #fffdd0;" height="125px" width="125px" class="image" alt="Album Cover Art"></a>
    </div>
    <div class="" style="width: 12.5%;">
      <a href="{% url 'home-bollywood' %}"><img src="{% static 'musify/bollywood.jpg' %}" style="border: 1.5px solid #fffdd0;" height="125px" width="125px" class="image" alt="Album Cover Art"></a>
    </div>
  </div>
</center>
<hr/>

<!-- Displaying search results -->
{% if flag == "search" %}
  <h1 style="text-align: center; margin-bottom: 30px;">Search Results</h1>
  <div class="row">
    <!-- Extracting data from the json response -->
    {% for k in data %}  
      <div class="col-md-4">
        <center>
            <div class="containerc">
              <!-- Song Cover Picture -->
              <img src="{{k.album.images.1.url}}" width="300px" height="300px" class="mb-3 image" alt="Song Cover Picture">
              <div class="middle">
                <h5 class="text">Song<br/><a class="c" href="{{k.external_urls.spotify}}" target="_blank" style="text-decoration: none; font-size: 18px;">{{k.name}}</a></h5>
                <h5 class="text">Artist<br/><a class="c" href="{{k.artists.0.external_urls.spotify}}" target="_blank" style="text-decoration: none; font-size: 18px;">{{k.artists.0.name}}</a></h5>
              </div>
            </div>
        </center>
      </div>
    {% endfor %}
  </div>

<!-- Displaying Bollywood Playlists -->
{% else %}
<h1 style="text-align: center; margin-bottom: 30px;">Bollywood</h1>
  <div class="row">
    {% for k in data %}
      <div class="col-md-4">
        <center>
            <div class="containerc">
              <img src="{{k.images.0.url}}" class="mb-3 image" width="300px" height="300px" alt="Album Cover Art">
              <div class="middle">
                <h5 class="text">Playlist<br/><a class="c" href="{{k.external_urls.spotify}}" target="_blank" style="text-decoration: none; font-size: 18px;">{{k.name}}</a></h5>
              </div>
            </div>
        </center>
      </div>
    {% endfor %}
  </div>
{% endif %}
{% endblock content %}
